#corpoTabela {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#corpoTabela li {
    height: 143.62px;
    width: 268.35px;
    align-items: center;
    justify-content: center;
}

.NomeProd {
    font-size: 20px;
}

.alterado {
    font-size: 30px;
}

.unidade {
    font-size: 15px;
}

@media print {

    /* Define o tamanho da folha e a margem */
    @page {
        size: A4;
        margin-top: 1.2cm;

    }

    /* Estilo para dividir o conteúdo em duas páginas, se necessário */
    .paginaPeq {
        page-break-before: always;
    }
}
